@import 'styles/styles';

.Footer{
    
    display: flex;
    flex-direction: column;
    margin-left: 95px;
    width: 1150px;
    justify-content: space-between;
    margin-top: 50px;
    .FooterLinks{
        display: flex;
    //     justify-content: flex-start
    }
    .column{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .social{
        display: flex;
        flex-direction: row;
        // justify-content: flex-end;
    }
    .Copyright{
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
        color: $main-color-opacity;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -20px;
        margin-left: 19px;
        word-spacing: 2px;
        a{
            color: $main-color-opacity;
        }
    }
}