$main-font: 'Roboto', sans-serif;
$main-color: #FFFFFF;
$secondary-color: #ff6c2d;
$background-color-nav: #0093d2;

// Menu principal

.nav-container{
    font-family: $main-font;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 1150px;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    min-height: 50px;
    margin-top: 0px;
    .logo-nav{
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 0px 15px;
        img{
            width: 80px;
           height: 20px;
        }
    }
}
.nav-bar{
    display: flex;
    align-items: center;
    margin: 0px;
    li{
       list-style: none;
       padding: 0px 15px;
       font-family: 'Helvetica', sans-serif;
       font-size: 13px;
       a{
            cursor: pointer;
            color: #ffffffa9;
            text-decoration: none;
       &:hover{
           color: $main-color;
       }
    }
       .svg-inline--fa.fa-w-16 {
        width: 20px;
        height: 20px;
        padding-right: 5px;
    }
}
.menu-item{
    color: #ffffffa9;
    &:hover{
        color: $main-color;
    }
    .sub-menu { 
        position: absolute;
        top: 50px;
        padding: 0;
        right: 80px;
        width: 180px;
        list-style: none;
        z-index: 59;
        display: flex;
        line-height: 50px;
        flex-direction: column;
        background-color: white;
        // visibility: hidden;
        .sub-menu-item {
            a{
                width: 150px;
            color: #000000;
            text-align: left;
            font-size: 13px;
                    &:hover{
                            background-color:$background-color-nav;
                            color: $main-color;
                        }
                    
                    }
                }
                }
                    .menu-item:hover .sub-menu a{ 
                        visibility: visible; 
                    }
    }
}
