$main-font: 'Roboto', sans-serif;
$main-color: #FFFFFF;
$secondary-color: #ff6c2d;
$background-color-nav: #0093d2;
$main-color-opacity: #ffffffa9;
$color-flags: #7A7A7A;



// .Home{
//     background-image: url(../assets/img/plate-flight-sky-sunset_1500x801.jpeg);
// }