$main-font: 'Roboto', sans-serif;
$secondary-font: 'Helvetica', sans-serif;
$main-color: #FFFFFF;
$secondary-color: #ff6c2d;
$background-color-nav: #0093d2;
$main-color-opacity: #ffffffa9;
$color-flags: #7A7A7A;



.Home{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/img/plate-flight-sky-sunset_1500x801.jpeg);
    height: 100%;
}

@media (max-width: 990px){
  .Home{
    background-size: cover;
  }
}

.FlightsResults{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/img/big-ben-bridge-castle-city-460672_1500x800.jpg);
    height: 280px;
    
}
.footer-flightsresults{
  background: #FFFFFF;
}
.footer-bar{
  background: #333333;
}