@import 'styles/styles';
.CheckboxGroup{
    width: 280px;
    margin-top: 40px;
    .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
      
        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          display: flex;
        //   align-items: center;
        }
        // Box.
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 16px;
          height: 16px;
          background: white;
          outline: 0.8px solid $color-flags;
        }
        // Box checked
        &:checked + label:before {
          background: $background-color-nav;
          outline: none;
        }
        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }
        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }
        // Checkmark. Could be replaced with an image
        &:checked + label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 7px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
            transform: rotate(45deg);
            
        }
        
      }
        .unstyled {
            list-style-type: none;
            padding: 0;
            margin-left: 80px;
            .items{
                display: flex;
                display: flex;
                width: 170px;
                justify-content: space-between;
                h4, p{
                    margin: 0px;
                    color: $color-flags;
                    font-family: 'Helvetica', sans-serif;
                    p{
                        font-size: 11px;
                    }
                    h4{
                        font-size: 14px;
                    }
                }
            }
            .item-span span{
                color: $color-flags;
                font-family: 'Helvetica', sans-serif;
                font-size: 10px;
            }
             h3{
                text-transform: uppercase;
                font-size: 13px;
                color: #555555;
                font-family: $main-font;
            }
      }
}