@import 'styles/styles';
    .input-icon{
        width: 20px;
        height: 20px;
        color: $main-color;
    }
    input{
        font-size: 16px;
        color: #ffffff;
        border: none !important;
        outline: none !important;
        height: 55px;
        background: none;
        padding-left: 15px;
    }
    input::placeholder{
        font-family: 'Helvetica', sans-serif;
   }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $main-color;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: $main-color;
       opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $main-color;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: $main-color;
    }
    .small{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        width: 170px;
        height: 55px;
        border-right: 1px solid #ffffff;
    }
    .big{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        width: 215px;
        height: 55px;
        border-right: 1px solid #ffffff;
    }
    .small-results{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
        width: 171px;
        display: flex;
        align-items: center;
        padding-left: 9px;
        margin-right: 8px;
    }
    .big-results{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
        width: 221px;
        display: flex;
        align-items: center;
        padding-left: 9px;
        margin-right: 8px;
    }


    @media (min-width: 990px) and (max-width: 1200px){
        .small{
            width: 140px;
        }
        .big{
            width: 185px;
        }
    }
    
    @media (max-width: 990px){
        .big, .small{
            width: 720px;
            border: 1px solid #ffffff;
            border-radius: 3px;
            margin-bottom: 20px;
        }
    }