@import 'styles/styles';
.currencies-container{
    display: flex;
    align-items: start;
    width: 810px;
    flex-wrap: wrap;
    background-color: $main-color;
    align-items: center;
    h4{
        font-family: $main-font;
        font-size: 15px;
        color: #333333;
        font-weight: bold;
        margin: 0px 25px;
    }
    .currency-container{
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        padding: 0px 15px;
        align-items: center;
        margin-bottom: 15px;
    }
}