.ServicesOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px auto;
}

@media (min-width: 1200px){
    .ServicesOptions{
        width: 1180px;
    }
}

@media (min-width: 990px) and (max-width: 1200px){
    .ServicesOptions{
        width: 990px
    }
}

@media (max-width: 990px){
    .ServicesOptions{
        width: 730px;
        flex-direction: column;
        align-items: flex-start;
    }
}