@import 'styles/styles';

.LinkFooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    ul{
        list-style: none;
        padding-left: 20px;
        li{
            a{
                font-family: 'Helvetica', sans-serif;
                font-size: 14px;
                text-decoration: none;
                color: $main-color-opacity;
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
}