@import 'styles/styles';
.SearchBarTemplete{
    font-family: $main-font;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    h1{
        font-size: 36px;
        font-weight: 200;
        color: $main-color;
        margin-bottom: 0px;
    }
    p{
        font-size: 16px;
        color: $main-color;
        font-weight: 200;
    }
    .input-group{
        display: flex;
        flex-direction: row;
        border: 1px solid $main-color;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1000px rgba(8, 28, 36, 0.178);
        height: 57px;
        width: 995px;
    }
    .input-group-flight{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .label-input{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 8px;
            font-family: $secondary-font;
            font-size: 12px;
            color: #fff;
        }
    }
    .search{
        .button-search{
            border: none !important;
            outline: none !important;
            border-radius: 0 3px 3px 0;
            background-color: #ff6c2d;
            width: 75px;
            height: 57px;
            cursor: pointer;
        }
        .button-search-flights{
            border: none !important;
            outline: none !important;
            border-radius: 0 3px 3px 0;
            background-color: $background-color-nav;
            width: 85px;
            height: 45px;
            cursor: pointer;
            color: #fff;
            font-weight: 600;
        }
        .button-responsive{
            display: none;
            border: none !important;
            outline: none !important;
            border-radius: 0 3px 3px 0;
            background-color: #ff6c2d;
            height: 57px;
            cursor: pointer;
            font-family: $secondary-font;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
        }
            svg {
                color: $main-color;
                width: 25px;
                height: 25px;
                }
        
    } 
}

@media (min-width: 1200px){
    .SearchBar{
        width: 1150px;
    }
}

@media (min-width: 990px) and (max-width: 1200px){
    .SearchBar{
        width: 960px;
        .input-group{
            width: 845px;
        }
    }
}

@media (max-width: 990px){
    .SearchBar{
        width: 100%;
        p, h1{
            margin-left: 15px;
        }
        .input-group{
            flex-direction: column;
            border: none;
            box-shadow: none;
            width: 100%;
            align-items: center;
        }
        .big, .small {
            width: 95%;
        }
        .search{
            width: 97%;
            .button-responsive{
                display: block;
                width: 100%;
            }
            .button-search{
                display: none;
            }
    }
}
}