@import 'styles/styles';
.ModalDropdown{
    
     .list-hidden{
        display: flex;
        flex-direction: column;
        li{
            border: none;
        }
    }
    .more-item{
        border: none;
        a{
            display: flex;
            flex-direction: row;
        }
        svg{
            padding-left: 5px;
        }
    }
    .active {
        a{
        color:$background-color-nav
        }
        span{
            color: #4C4C4C;
        }
    }
}