@import 'styles/styles';
.FooterFlightResults{
    .footer-container{
    background-color: #FFFFFFFF;
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo-container{
        width: 230px;
        padding-top: 20px;
        .logo{
            img{
                width: 132px;
                opacity: 0.5;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .detail-company{
            p{
                font-size: 11px;
                color: #B3B3B3;
                font-family: 'Helvetica', sans-serif;
                line-height: 15px;
            }
        }
    }
    .travel-mate-list, .explore-list, .book-list{
        padding-top: 20px;
    }
}
h4{
    font-size: 14px;
    font-family: $main-font;
    color: #333333;
    margin-bottom: 8px;
}
}
.section-subscription{
    background-color: $background-color-nav;
    .container-subscription{
        background-image: url(../../assets/img/footer_subscribe_bg.png);
        z-index: 1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        width: 300px;
        height: 225px;
        display: flex;
        padding-left: 40px;
        padding-top: 15px;
        flex-direction: column;
    .button-subscription{
        background: $secondary-color;
        color: #fff;
        width: 120px;
        height: 40px;
        font-family: $main-font;
        font-size: 13px;
        font-weight: 600;
        border: none;
    }
        input{
    border: none !important;
    outline: none !important;
    height: 34px;
    width: 80%;
    background-color: #FFFFFFFF;
    margin-bottom: 15px;
    }
    
    h3{
        font-size: 14px;
        color: #FFFFFFFF;
        text-transform: capitalize;
    }
    p{
        font-size: 13px;
        color: #FFFFFFFF;
        margin-top: 0px;
    }
    }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #555;
}