@import 'styles/styles';
.CardFlight{
    display: flex;
    flex-direction: row;
    background: #fff;
    margin-bottom: 15px;
    justify-content: space-evenly;
    .time-date-container{
        display: flex;
        flex-direction: column;
        .time-container{
            p{
                font-family: $secondary-font;
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 600;
                color: #333333;
                margin: 0px;
            }
        }
        .date-container{
            p{
                font-family: $secondary-font;
                font-size: 10px;
                color: #333333;
                margin: 0px;
            }
        }
    }
    .price-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .price{
            p{
                font-family: $main-font;
                font-size: 22px;
                color: #333333;
                margin: 0px;
            }
        }
        .class-flight{
            p{
                font-family: $secondary-font;
                font-size: 10px;
                margin: 0px;
                text-transform: lowercase;
                color: #B3B3B3;
            }
        }
        .button-booknow{
            background: $secondary-color;
            color: #fff;
            width: 85px;
            height: 30px;
            font-family: $main-font;
            font-size: 11px;
            font-weight: 600;
            border: none;
        }
    }
    .scale-flight{
        display: flex;
        flex-direction: row;
        align-items: center;
        .origin-flight, .destination-flight{
            display: flex;
            flex-direction: column;
            align-items: center;
        .origin{
            p{
                font-family: $secondary-font;
                font-size: 9px;
                color: #333333;
                font-weight: 300;
            }
        }
        .circle{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $background-color-nav;
            margin-bottom: 8px;
        }
        .icon-plane-origin{
            transform: rotate(-45deg);
            color: #B3B3B3;
            margin-bottom: 10px;
            svg{

                width: 15px;
            }
        }
        .icon-plane-destination{
            transform: rotate(45deg);
            color: #B3B3B3;
            margin-bottom: 10px;
            svg{

                width: 15px;
            }
        }
    }
    .flight-path-line{
        width: 170px;
        height: 2px;
        color: #333333;
    }
}
}