@import 'styles/styles';
.CardFlight{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 15px;
    width: 620px;
    padding: 20px 20px;
    .origin-flight-container, .return-flight-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;
        .carrierLogo{
                width: 50px ;
                height: 50px;
        }
    }
    .AirlineCode{
        font-size: 10px;
        font-family: $secondary-font;
        color: #333333;
        opacity: 0.5;
        margin-bottom: 10px;
    }
    .return-flight-container{
        width: 495px;
    }
    .scale-flight, .scale-flight-return{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
.space-white{
    width: 100px;
}
.return-cardflight, .origin-cardflight{
    display: flex;
    flex-direction: column;
}
.origin-cardflight{
    border-bottom: 1px dashed #e6e6e6;;
    margin-bottom: 15px;
}
}