@import 'styles/styles';
.SearchBar{
    width: 1000px;
    margin: 80px 105px;
    font-family: $main-font;
    h1{
        font-size: 36px;
        font-weight: 200;
        color: $main-color;
        margin-bottom: 0px;
    }
    p{
        font-size: 16px;
        color: $main-color;
        font-weight: 200;
    }
    .input-group{
        display: flex;
        flex-direction: row;
        border: 1px solid $main-color;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1000px rgba(8, 28, 36, 0.178);
        height: 57px;
    }
    .search{
        button{
            border: none !important;
            outline: none !important;
            border-radius: 0 3px 3px 0;
            background-color: #ff6c2d;
            width: 75px;
            height: 57px;
            cursor: pointer;
        }
            svg {
                color: $main-color;
                width: 25px;
                height: 25px;
                }
        
    } 
}